.navbar-color {
	
	background-color: #2bbbad !important;
	
}

.up {
	
	text-transform: uppercase;
	
}

.sub-line {
	
	border-bottom: 5px solid #219186;
	
}

.bg-first {
	
	background: url(../img/bg-4.jpg);
	background-position: center;
	
}

.bg-content {
	
	color: #1c7d73;
	text-shadow: 0.1em 0.1em #333;
	padding-top: 6%;
	padding-bottom: 10%;
	
}

.bg-title {
	
	font-size: 3rem;
	
}

.box {
	
	position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
	
}

.spacer-1 {
	
	margin-top: 10px;
	
}

.sub-box {
	
	margin-left: 10px;
	
}